<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <div id="content">
      <div class="grid grid-cols-12">
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-end-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
          <!-- Taking space  6-->
          <!-- Card -->
          <div
            href="#"
            class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          >
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Signup Here 
            </h5>
            <p class="font-normal text-gray-400 dark:text-gray-400">
             Start managing contact on cloud....
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
      console.log("Sign Up page");
    </script>
  </body>
</html>
